/*  Todo: custom css */

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.align2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  * custom css ends */

.productjsx h1 {
    font-size: 60px;
    color: orange;
    text-shadow: 1px 1px 1px black;
}

strong {
    margin-top: -40px;
}

.img12 {
    width: 84px;
    height: 84px;
    border-radius: 200px;
    border: 10px solid yellowgreen;
    transition: all .2s ease;
}

.img12:hover {
    transform: scale(1.1);
    border: 6px solid yellowgreen;
}

.pdt_name {
    font-size: 21px;
    margin-top: 10px;
    color: rgb(255, 76, 106);
    font-weight: bolder;
    text-shadow: .1px .1px 1px black;
}

.container331 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
}


.container332 {
    margin-top: 2rem;
    margin-bottom: 20px;
}



/*  todo : every div css */
.PDT_heading h1 {
    margin: 1rem 0px -5rem 0px;
    font-size: 40px;
    text-decoration: underline;
    color: orange;
}

.grid_system {
    display: grid;
    grid-template-columns: 18rem 18rem 18rem 18rem;
    margin-top: 50px;
}

/* TODO: floating button css  */

/* todo : floating number */
.floatingNumbers {
    position: fixed;
    right: 3%;
    bottom: 12%;
    font-size: 30px;
    color: black;
    z-index: 909999999;
}
.go {
    position: fixed;
    right: 3%;
    bottom: 8%;
    font-size: 30px;
    border-radius: 54px;
    padding: 12px 12px;
    background-color: rgb(255, 76, 106);
    z-index: 90909090;
}

/* todo:  */
.unique {
    margin: 3rem 4px 0px 4px;
    border-radius: 3px;
    box-shadow: -1px 3px 4px rgb(138, 136, 136);
    background-color: white;
    width: 260px;
    height: 350px;
    transition-duration: .3s;
}

.unique:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.unique img {
    width: 260px;
    height: 242px;
    margin: 5px;
}

.unique h1 {
    margin: 0px;
    font-size: 24px;
    color: orange;
    text-decoration: none;
}

.unique small {
    font-size: 20px;
}

.unique button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
}

.pdt_name {
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
}


/* todo  : media queries */

@media screen and (max-width: 1134px) {
    .grid_system {
        display: grid;
        grid-template-columns: 18rem 18rem 18rem;
        margin-top: 50px;
    }

}

@media screen and (max-width: 865px) {
    .grid_system {
        display: grid;
        grid-template-columns: 18rem 18rem;
        margin-top: 50px;
    }

}

@media screen and (max-width: 714px) {
    .img12 {
        height: 90px;
        width: 90px;
    }

    .pdt_name {
        font-size: 20px;
    }

    .container331,
    .container332 {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 13rem 13rem 13rem;
    }

}

@media screen and (max-width: 631px) {
    .img12 {
        height: 90px;
        width: 90px;
    }

    .pdt_name {
        font-size: 15px;
    }

    .unique img {
        width: 260px;
        height: 241px;
    }

    .container331,
    .container332 {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 13rem 13rem;
    }

}

@media screen and (max-width: 595px) {
    .unique {
        height: 340px;
        width: 236px;
    }

    .unique img {
        width: 236px;
        height: 235px;
    }

    .grid_system {
        display: grid;
        grid-template-columns: 15.5rem 15rem;
        margin-top: 50px;
    }

    .unique h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 503px) {
    .grid_system {
        display: grid;
        grid-template-columns: 12rem 12rem;
        margin-top: 50px;
    }

    .container331,
    .container332 {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 10rem 10rem;
    }

    .unique {
        height: 280px;
        width: 180px;
    }

    .unique img {
        width: 180px;
        height: 178px;
    }

}

@media screen and (max-width: 390px) {
    .grid_system {
        display: grid;
        grid-template-columns: 11rem 11rem;
        margin-top: 50px;
    }

    .PDT_heading h1 {
        font-size: 32px;
    }

    .unique h1 {
        font-size: 17px;
    }

    .bakery_name p {
        margin: 0px 14px;
    }

    .unique {
        height: 270px;
        width: 170px;
    }

    .unique img {
        width: 169px;
        height: 172px;
    }
}